/***   Header link   ***/
div.no_sctipt {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

div.address_book {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px
}

/***   Client client table   ***/
table.address_book {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 900px
}

.clients_icon {
	background-image: url("images/ico_instock.gif");
	background-color: #404040;
}

div.interval {
	margin: 15px
}

tr, th {
	border: 1px solid black
}

.bold_text {
	font-weight: bold				
}

/***   Search clients   ***/
td.address_book_search {
	border: 1px solid black;
	font-weight: bold;
	text-align: center
}

div.error_search {
	font-size: large;
	padding-top: 15px;
	text-align: center;
}

td.address_book {
	border: 1px solid black;
	text-align: center
}

td.search {
	padding: 5px;
	text-align: center	
}	

.keywords_country_city {
	padding: 15px;
	text-align: center
}

.search {
	margin-right: 50px;
	width: 130px
}

/***   Navigation Page: Prev 3|4|5|6|7 Next   ***/
td.navigation_1_2_3 {
	padding-right: 20px;
	text-align: right
}

/***   Navigation Show: 10|20|50|All   ***/
td.navigation_10_20_50 {
	text-align: left;
	padding-left: 20px	
}

/***   View for clients   ***/
table.view_client {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 0 auto;
	width: 700px;
}

td.field_around {
	padding: 50px
}

div.vc_photo {
	border: 1px solid black;
	height: 300px;
	width: 400px;
	margin-left: 250px;
	text-align: center;
	margin-bottom: -302px;
}

div.vc_nadpis {
	padding-top: 135px;
}

p.vc_notes {
	font-weight: bold;
	padding-top: 125px;					
}

hr.notes {
	width: 650px	
}

p.back_to_the_list {
	text-align: center;
	margin-top: 50px;
}

img.instock {
	border: 0px
}

/***   Footer (c) year   ***/
div.footer {
	text-align: center;
	margin-top: 30px;		
}
