<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{{ title }}</title>
		<!-- Framework CSS BLUEPRINT START -->
		<link rel="stylesheet" type="text/css" href="/adminpanel/css/joshuaclayton-blueprint-css-v1.0.1/blueprint/screen.css" media="screen, projection" />
		<link rel="stylesheet" type="text/css" href="/adminpanel/css/joshuaclayton-blueprint-css-v1.0.1/blueprint/print.css" media="print" />
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="/adminpanel/css/joshuaclayton-blueprint-css-v1.0.1/blueprint/ie.css" type="text/css" media="screen, projection" />
		<![endif]-->
		<!-- Framework CSS BLUEPRINT END -->
	</head>
	<body>
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<hr class="space">
		<div class="span-10 prepend-23 append-0">
			<h3><a href="/adminpanel">{{ site_name }}</a></h3>
		</div>
		<hr />
		<div class="span-12 prepend-19 append-0">
			<p><b>{{ title }}.</b></p>

			<p>{{ error_description }}</p> 
		</div>	
		<div class="span-2 last">
			<img class="top pull-1" src="/adminpanel/images/error2.png" width="80px" height="80px" alt="{{ title }}" />
		</div>
	</body>
</html>