<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>{{ site_name }}</title>
		<!-- Framework CSS BLUEPRINT START -->
		<link rel="stylesheet" type="text/css" href="./css/joshuaclayton-blueprint-css-v1.0.1/blueprint/screen.css" media="screen, projection" />
		<link rel="stylesheet" type="text/css" href="./css/joshuaclayton-blueprint-css-v1.0.1/blueprint/print.css" media="print" />
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="./css/joshuaclayton-blueprint-css-v1.0.1/blueprint/ie.css" type="text/css" media="screen, projection" />
		<![endif]-->
		<!-- Framework CSS BLUEPRINT END -->
		<link rel="stylesheet" type="text/css" href="./css/style_for_impromptu.css" />
		<script type="text/javascript" src="../libraries/jQuery/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="../libraries/jQuery/jquery-impromptu.3.1.min.js"></script>
		<script type="text/javascript" src="./javascript/admin_function.js"></script>
	</head>
	<body>
		<noscript><p>Your browser does not support JavaScript!</p></noscript>
		<div class="container showgrid">
			<div id="testing"></div>
			<div id="content"></div>
