			<div id="auth" class="span-12 prepend-6 append-0">
				<fieldset>
					<legend><a href="/adminpanel/?address_book=1">Address Book</a> | <a href="/adminpanel/">Log Out</a></legend>
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<div id="auth" class="span-0 prepend-5 append-0">Content Area</div>
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<hr class="space">
					<hr class="space">
				</fieldset>
			</div>
