#mod_rewrite documentation - http://httpd.apache.org/docs/2.0/mod/mod_rewrite.html#rewritecond

##Encoding for our site
AddDefaultCharset utf-8

##Set timezone
php_value date.timezone 'Europe/Kiev'

##Register globals flas
php_flag register_globals off

##Start page
#DirectoryIndex index.php

##Lock file if in foler not index file
#Options -Indexes

##RewriteEngine include
#RewriteEngine  on

##Redirect all request to index.php
#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteRule ^(.*)$ index.php [L]

#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteRule .* index.php [L]
#DirectoryIndex index.php error.php

##Redirect when errors code
ErrorDocument 400 /adminpanel/error.php?error=400
ErrorDocument 401 /adminpanel/error.php?error=401
ErrorDocument 402 /adminpanel/error.php?error=402
ErrorDocument 403 /adminpanel/error.php?error=403
ErrorDocument 404 /adminpanel/error.php?error=404
ErrorDocument 500 /adminpanel/error.php?error=500
ErrorDocument 502 /adminpanel/error.php?error=502
